<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>
<h2 class="pb-4 pt-2" [translate]="'PartTimeRequestActions.PartTimeRequest'"></h2>
<div class="card" *ngIf="partTimeRequestAction">
  <div class="card-body">
    <div>
      {{'PartTimeRequestActions.AlreadyRequested' | translate}} {{this.partTimeRequestAction.startTime | date: 'dd/MM/yyyy'}} {{'PartTimeRequestActions.AndItIs' | translate}}
     <span class="bold"> {{'Requests.ActionStatusTypes.' + this.partTimeRequestAction?.actionStatus?.alternateName | translate}}</span>
    </div>
  </div>
</div>

