<div class="row" *ngIf="!loading && registrations && registrations.length>0">
  <div class="col-lg-12">
    <div class="row">
      <h2 class="py-4" [translate]="'Registrations.Books.BooksHistoryList'"></h2>
      <div *ngIf="eudoxusUrl" class="py-4 ml-3"><a class="btn btn-pill btn-outline-secondary float-right"
          href="{{eudoxusUrl}}" target="_blank" [translate]="'Registrations.Books.NavigateToEudoxus'"></a></div>
    </div>
    <p class="font-lg text-gray-600" [translate]="'Registrations.Books.BooksHistoryInfo'"></p>
    <div>
      <div class="reg_courses_body">

        <div class="reg_courses_body__semesterChoice d-none d-lg-block">
          <!-- filtering By Semester -->
          <div class="semesterChoice-item mb-2" *ngIf="chosenPeriod" (click)="removeSemesterFiltering()" [translate]="'Registrations.RemoveFilter'"></div>
          <div>
            <a *ngFor="let period of periods" (click)="filterByPeriod(period)" class="semesterChoice-item"
              href="javascript:void(0)" [ngClass]="{'chosenPeriodForFiltering': period == chosenPeriod}">
              {{period}}
            </a>
          </div>
        </div>
        <div class="reg_courses_body__main">
          <div class="rectangle-3" *ngFor="let registration of registrations">
            <div class="card-body">
              <div class="reg-history__semester-title">
                <span [attr.lang]="currentLanguage">
                  <span>{{ ('RegistrationPrevious.' + registration.registrationPeriod.alternateName) | translate
                    }}</span>
                  <span>&nbsp;</span>
                  <span>{{ 'Registrations.Semester' | translate }}</span>
                  <span>&nbsp;</span>
                  <span>{{ registration.registrationYear.name }}</span>
                </span>
              </div>
              <div><span class="text-success"
                  *ngIf="registration.status.alternateName=='pending'">{{'RegistrationStatus.RegistrationPending' |
                  translate}}</span>
              </div>
              <div class="text-center"><i
                  *ngIf="registration.bookServiceError && registration.bookServiceError === true"
                  [translate]="'Registrations.Books.BookServiceError'"></i></div>
              <!-- Start of List Group -->
              <div class="d-flex flex-column"
                *ngIf="registration.classes && registration.classes.length && registration.classes.length > 0 && registration?.booksFound">
                <!-- Start of List Group Header-->
                <ul class="sis--list-group sis--list-group-header">
                  <li class="sis--list-group-item">
                    <div class="d-flex">
                      <div class='sis--list-group-item_lg_column' [translate]="'Registrations.Books.BookTitle'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-sm-block'
                        [translate]="'Registrations.Books.Authors'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'
                        [translate]="'Registrations.Books.PublicationYear'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'
                        [translate]="'Registrations.Books.PublisherName'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'
                        [translate]="'Registrations.Books.ISBN'"></div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block text-center'
                        [translate]="'Registrations.Books.StatementBookType'"></div>
                    </div>
                  </li>
                </ul>
                <!-- End of List Group Header-->

                <!-- Start of List Group Body-->
                <ul class="sis--list-group sis--list-group-body" *ngFor="let course of registration.classes">
                  <li class="sis--list-group-item" *ngIf="course?.bookDetails !== null">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class='sis--list-group-item_lg_column'>
                        <!-- Book data found -->
                        <div *ngIf="course?.bookDetails?.details"
                          [ngClass]="course?.bookDetails?.delivered === true? 'text-success':'text-danger'">
                          <span
                            [ngClass]="!course?.bookDetails? '' : (course?.bookDetails?.delivered === true? 'text-success far fa-check-circle':'text-danger fas fa-ban')"
                            [tooltip]="tooltipText"></span>
                          &nbsp;<span *ngIf="course?.bookDetails">{{ course?.bookDetails?.details?.book_title }}</span>
                        </div>
                        <!-- Book data not found -->
                        <div *ngIf="!course?.bookDetails?.details">
                          <span
                            [ngClass]="!course?.bookDetails? '' : (course?.bookDetails?.delivered === true? 'text-success far fa-check-circle':'text-danger fas fa-ban')"
                            [tooltip]="tooltipText"></span>
                          &nbsp;<i [translate]="'Registrations.Books.BookDataNotFound'"></i>
                        </div>
                        <ng-template #tooltipText>
                          <div *ngIf="course?.bookDetails?.delivered === true" class="text-secondary font-sm">
                            {{ "Registrations.Books.Delivered" | translate }}:&nbsp;{{
                            "Registrations.Books.DeliveredBook."
                            + course?.bookDetails?.delivered | translate }}</div>
                          <div *ngIf="course?.bookDetails?.delivered === false" class="text-secondary font-sm">
                            {{ "Registrations.Books.Delivered" | translate }}:&nbsp;{{
                            "Registrations.Books.DeliveredBook."
                            + course?.bookDetails?.delivered | translate }}</div>
                        </ng-template>
                        <div class="text-gray-600">
                          <span *ngIf="currentLanguage == defaultLanguage; else notDefault">
                            <div>{{'Registrations.Course' |
                              translate }}: {{ course?.courseClass?.title }}</div>
                          </span>
                          <span>[{{ course?.course.displayCode }}]</span>
                          <span *ngIf="course.section !== 0 && course.sectionName !== null" class="text-gray-600">
                            ,&nbsp;{{'Registrations.ClassSectionSelection.Section' | translate}}: {{ course.sectionName
                            }}
                          </span>
                          <ng-template #notDefault>
                            <div>{{ course.course | localize:['name'] }}</div>
                          </ng-template>
                        </div>
                      </div>
                      <div class='sis--list-group-item_sm_column d-none d-sm-block'>
                        {{ course?.bookDetails?.details?.authors }}</div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'>
                        {{ course?.bookDetails?.details?.publicationyear }}</div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'>
                        {{ course?.bookDetails?.details?.publishername }}</div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'>
                        {{ course?.bookDetails?.details?.Isbn }}</div>
                      <div class='sis--list-group-item_sm_column d-none d-lg-block'>
                        {{"Registrations.Books.StatementType." + course?.bookDetails?.statementBookType | translate}}
                      </div>
                    </div>
                  </li>
                </ul>

                <!-- End of List Group Body-->
              </div>

              <!-- End of List Group-->
              <div></div>
              <!--Show this when registration is empty-->
              <div class="d-flex" *ngIf="!registration.classes || registration.classes.length==0">
                <!-- <div class="col-12 text-center">
                  <h4 class="mt-2 empty_reg" [translate]="'Checkout.EmptyRegistration'"></h4>
                </div> -->
              </div>
            </div>
          </div>
        </div> <!-- End of reg_courses_body__main -->
      </div> <!-- End of reg_courses_body -->
    </div>

  </div>
  <div class="col-lg-3">
    <div class="d-none d-lg-block">

    </div>
  </div>
</div>

<div *ngIf="!loading && registrations && registrations.length===0" class=mt-3>
  <span class="text-gray-600" [translate]="'NoRegistrationFound'"></span>
</div>