<header class="app-header navbar">
  <div class="nav navbar-nav h-100">
    <button class="navbar-toggler d-lg-none" type="button" (click)="toggleSidebarVisibility()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item nav-link sis-brand px-3 d-flex d-lg-none align-items-center h-100" href="#">
      <img src="{{logoPath}}" class="sis-brand-logo mr-3 h-100" *ngIf="logoPath" />
      <span *ngIf="!header || !header.abbr.trim().length;else brandedAbbr"><span
          class="sis-brand-bold">Univer</span>SIS</span>
    </a>
    <a class="nav-item nav-link sis-brand pl-3 d-none d-lg-flex align-items-center h-100" href="#">
      <img src="{{logoPath}}" class="sis-brand-logo mr-3 h-100" *ngIf="logoPath" />
      <span *ngIf="!header; else branded"><span class="h-100 align-middle"><span class="sis-brand-bold">Student</span>
          Information System</span></span>
    </a>
    <ng-template #branded>
      <span class="h-100 align-middle">{{header.body}}</span>
    </ng-template>
    <ng-template #brandedAbbr>
      <span>{{header.abbr}}</span>
    </ng-template>
  </div>


  <ul class="nav navbar-nav d-md-down-none ml-auto">
    <ng-template #dbSyncWarning>
      <h5 [translate]="'DBSyncAlert.Title'"></h5>
      <div class="text-secondary font-sm" [translate]="'DBSyncAlert.Message'"></div>
    </ng-template>
    <li class="nav-item" *ngIf='this.dbstatus && this.dbstatus.database !== "online"'>
      <button class='btn btn-sm btn-danger' (click)="showDBAlertToast()"><i
          class="fas fa-exclamation-triangle"></i></button>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-home"></i></a>
    </li>
    <li class="nav-item px-1 px-lg-2 dropdown d-none d-md-block mx-1" dropdown placement="bottom right">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" dropdownToggle
        href="javascript:void(0)" role="button">{{ 'RegistrationsTitle' | translate }}<i
          class="ml-1 fa fa-angle-down"></i>
      </a>
      <ul *dropdownMenu aria-labelledby="simple-dropdown" class="dropdown-menu dropdown-menu-right">
        <li role="menuitem" *ngIf="useStudentRegisterAction">
          <button [routerLink]="['/registrations/semester']" class="dropdown-item"><span
              [translate]="'SemesterRegistrationTitle'"></span>
          </button>
        </li>
        <li role="menuitem">
          <button [routerLink]="['/registrations/courses']" class="dropdown-item"><span
              [translate]="'CoursesRegistrations'"></span>
          </button>
        </li>
        <li role="menuitem">
          <button [routerLink]="['/registrations/list']" class="dropdown-item"><span
              [translate]="'RegistrationsHistory'"></span>
          </button>
        </li>
        <li role="menuitem">
          <button [routerLink]="['/thesis-proposals']" class="dropdown-item"><span
              [translate]="'ThesisProposalsTitle'"></span>
          </button>
        </li>
        <li role="menuitem">
          <button [routerLink]="['/registrations/books']" class="dropdown-item"><span [translate]="'Textbooks'"></span>
          </button>
        </li>
      </ul>
    </li>
    <li class="nav-item px-1 px-lg-2 dropdown" dropdown placement="bottom right">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" dropdownToggle
        href="javascript:void(0)" role="button">
        {{ 'GradesTitle' | translate }}
        <i class="ml-1 fa fa-angle-down"></i>
      </a>
      <ul *dropdownMenu aria-labelledby="simple-dropdown" class="dropdown-menu dropdown-menu-right">
        <li role="menuitem">
          <button [routerLink]="['/grades/recent']" class="dropdown-item">
            <span [translate]="'RecentGrades'"></span>
          </button>
        </li>
        <li role="menuitem">
          <button [routerLink]="['/grades/all']" class="dropdown-item">
            <span [translate]="'AllGrades'"></span>
          </button>
        </li>
        <li role="menuitem">
          <button [routerLink]="['/grades/theses']" class="dropdown-item">
            <span [translate]="'Theses'"></span>
          </button>
        </li>
        <li role="menuitem">
          <button [routerLink]="['/grades/internship']" class="dropdown-item">
            <span [translate]="'Internship'"></span>
          </button>
        </li>
        <li role="menuitem">
          <button [routerLink]="['/graduation']" class="dropdown-item">
            <span [translate]="'GraduationRules'"></span>
          </button>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown d-none d-md-block mx-1" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle>{{ 'supportMenu.Support' | translate }}<i
          class="ml-1 fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/requests']"><span [translate]="'RequestsTitle'"></span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/info/department']"><span [translate]="'DepartmentInfo'"></span>
          </a>
        </li>

        <li role="menuitem" *ngFor="let item of navigationLinks">
          <a *ngIf="item.target === '_self' && item.url.startsWith('/'); else external" class="dropdown-item"
            [routerLink]="[item.url]"><span>{{item.name}}</span></a>
          <ng-template #external>
            <a *ngIf="!(item.target === '_self' && item.url.startsWith('/'))" class="dropdown-item"
              [attr.target]="item.target || '_blank'" href="{{item.url}}" rel="noopener noreferrer"><span>{{ item.name
                }}</span>
            </a>
          </ng-template>
        </li>

      </ul>
    </li>
  </ul>

  <ul class="nav navbar-nav" *ngIf="user">
    <li class="nav-item d-block d-md-none" *ngIf='this.dbstatus && this.dbstatus.database !== "online"'>
      <button class='btn btn-sm btn-danger' (click)="showDBAlertToast()"><i
          class="fas fa-exclamation-triangle"></i></button>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="getMessages(); false">
        <i class="icon-bell"></i><span *ngIf="numOfMsg[0]?.total>0"
          class="badge badge-pill badge-danger">{{numOfMsg[0]?.total}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div *ngIf="waitForMessages">
          <div class="dropdown-header text-center">
            <strong> {{'Messages.Youhave' | translate}} {{numOfMsg[0]?.total}} {{'Messages.NewMessages' |
              translate}}</strong>
          </div>
          <div class="ph-row mt-3">
            <div class="ph-col-2 ml-2 big"></div>
            <div class="ph-col-8 ml-2 big"></div>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center text-dark" [routerLink]="['/messages/list/unread']"> {{'Messages.View'|
            translate}} </a>
        </div>
        <div *ngIf="(messages && messages.length>0) && !waitForMessages">
          <div class="dropdown-header text-center">
            <strong> {{'Messages.Youhave' | translate}} {{numOfMsg[0]?.total}} {{'Messages.NewMessages' |
              translate}}</strong>
          </div>
          <div class="pt-2 inner__content" style="min-width:245px">
            <div *ngFor="let message of messages"
              [ngClass]="(message?.dateReceived === null)?'font-weight-bold':'text-secondary'" class="px-3">
              <div class="flex-container row">
                <div class="col-2">
                  <div class="d-flex h-100"><i class="far fa-2x fa-envelope-open m-auto text-success"></i></div>
                </div>
                <div class="col-10">
                  <div class="text-right text-secondary tooltip-small-text">
                    <span>{{message.dateCreated | date: 'dd-MM-yy h:mm a'}}</span>
                  </div>
                  <span class="d-block text-truncate text-dark" style="max-width:160px">
                    <span *ngIf="message.subject != null; else noSubject">{{message.subject}}</span>
                    <ng-template #noSubject>
                      <span *ngIf="message.subject == null && message.action != null; else noAction">
                        {{"Messages.additionalType." + message.action.additionalType | translate }}
                      </span>
                      <ng-template #noAction>
                        <span>{{'Messages.NoSubject' | translate}}</span>
                      </ng-template>
                    </ng-template>
                  </span>
                  <span class="d-block text-secondary tooltip-small-text text-truncate " style="max-width:160px"
                    [innerHTML]="message.body | slice : 0 : 50"></span>
                  <div *ngIf="message.category==='InstructorMessage' && message.sender"
                    class="text-right text-secondary tooltip-small-text">
                    <span>{{'Messages.Sender' | translate}}: {{message.sender.alternateName}}</span>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
          <a class="dropdown-item text-center text-dark" [routerLink]="['/messages/list/unread']"> {{'Messages.View'|
            translate}} </a>
        </div>
        <div *ngIf="(!messages || messages.length == 0) && !waitForMessages">
          <div class="dropdown-header text-center"><strong> {{'Messages.NoNewMessages' | translate}} </strong></div>
          <a class="dropdown-item text-center text-dark" [routerLink]="['/messages/list/unread']"> {{'Messages.View'|
            translate}} </a>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown mx-1" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle>
        <span class="d-none d-md-block">
          {{user.name}} <i class="ml-1 fa fa-angle-down"></i>
        </span>
        <span class="d-md-none">
          <i class="ml-1 fa fa-user"></i><i class="ml-1 fa fa-angle-down"></i>
        </span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/profile']">
            <span [translate]="'ProfileTitle'"></span>
          </a>
        </li>
        <ng-container *ngIf="linkProfiles.length > 1">
          <h5 class="dropdown-header" [translate]="'StudyProfiles.Available'"></h5>
          <ng-container *ngFor="let linkProfile of linkProfiles">
            <button [disabled]="linkProfile.rel === 'canonical'" (click)="select(linkProfile)" class="dropdown-item"
              href="#">
              <div style="white-space: pre-wrap">{{linkProfile.title}}</div>
              <small>{{linkProfile.description}}</small>
            </button>
          </ng-container>
          <div class="dropdown-divider"></div>
        </ng-container>
        <li role="menuitem">
          <a class="dropdown-item" [routerLink]="['/auth/logout']"><span [translate]="'Logout'"></span>
          </a>
        </li>
      </ul>
    </li>

    <!--Language switch dropdown menu-->
    <li *ngIf="currentLang" class="nav-item dropdown d-none d-xl-block mx-1" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle (click)="false">
        {{currentLang}}<i class="mx-2 fa fa-angle-down"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" *ngFor="let language of languages">
          <button class="dropdown-item" [disabled]="language === currentLang" type="button"
            (click)="setLanguage(language)">{{ language }}</button>
        </li>
      </ul>
    </li>
    <li *ngIf="currentLang" class="nav-item dropdown d-none d-md-block d-xl-none mx-1" dropdown
      placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle (click)="false">
        {{curLang}}<i class="mx-2 fa fa-angle-down"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" *ngFor="let language of languages">
          <button class="dropdown-item" [disabled]="language === currentLang" type="button"
            (click)="setLanguage(language)">{{ language }}</button>
        </li>
      </ul>
    </li>
  </ul>
</header>

<div class="app-body" id="universis-students">
  <app-sidebar *ngIf="navItems" [display]="'lg'" class="d-lg-none d-md-block">
    <app-sidebar-nav [navItems]="navItems"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main" (click)="hideSidebar()">

    <div class="container-fluid pt-4">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<universis-refresh-token></universis-refresh-token>
<footer class="app-footer d-none">
  <a href="http://coreui.io"></a> &copy; 2018 Universis Project
  <span class="float-right"></span>
</footer>
