<a class=" text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>

<h2 class="pb-4 pt-2" [translate]="'PartTimeRequestActions.PartTimeRequest'"></h2>



<ng-container *ngIf="model && !isLoading">
  <div class="col-12 mt-2"
       *ngIf="model && model.actionStatus && model.actionStatus.alternateName && (model.dateCreated || model.dateModified)">
    <div class="py-2">
      <h4>
        <h5 class="text-secondary">{{'Requests.Status' | translate}}: {{'ActionStatusTypes.' + model.actionStatus.alternateName | translate}}</h5>
      </h4>
      <div class="pb-2 text-secondary">
      <span>
        <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{model.dateCreated | date: 'short'}}</span>
      </span>
        <span class="ml-2">
        <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{model.dateModified | date: 'short'}}</span>
      </span>
      </div>
    </div>
  </div>
</ng-container>
  <tabset #tabSet class="col-12 col-lg-8 tab-navbar tab-container">
    <ng-container *ngIf="canApply && !isLoading">

      <tab heading="{{'PartTimeRequestActions.Info' | translate}}" id="request-information">
        <ng-container *ngIf="formAction != null">

          <advanced-form-edit #form1 [(data)]="model" [formName]="formAction" (dataChange)="onDataChange($event)" >
          </advanced-form-edit>
        </ng-container>
      </tab>
      <tab [disabled]="!(model && model.id && isValid)"
           heading="{{'Requests.Attachments.Title' | translate}}" id="attach-documents">

        <div *ngIf="model && model.code">
          <app-document-submission-request [requestType]="'RequestPartTimeProgramAction'"
                                           [request]="this.model.code"></app-document-submission-request>
        </div>
      </tab>

    </ng-container>
  </tabset>
  <div *ngIf="activeTab" class="col-12 mb-4">
    <div class="d-flex justify-content-end">
      <button (click)="next()" *ngIf="model?.actionStatus?.alternateName === 'PotentialActionStatus'
    && activeTab.id === 'request-information'"
              [disabled]="!isValid"
              [translate]="'Requests.TemporarySave'" class="btn btn-primary btn-md text-right" type="button"></button>
    </div>
  </div>


<ng-container *ngIf="!canApply && !isLoading">

  <div  class="card col-12 mt-2">
    <div class="card-body" >
      <div>
        {{this.message | translate}}
      </div>
    </div>
  </div>
</ng-container>

