<a class="text-decoration-none text-gray-600" type="button" (click)="returnToList()">
    <i class="fa fa-chevron-left"></i>
    <span class="font-lg ml-2" >{{'ThesisProposals.Title' | translate}}</span>
</a>

<!--pre-loading state-->
<div class="container mt-4 col-12" *ngIf="isLoading">
    <div class="card mb-3">
        <div class="card-body">
            <div class="ph-col-12">
                <div class="ph-row">
                    <div class="ph-col-8 big"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-8 big"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-2 big"></div>
                    <div class="ml-4 ph-col-4 big"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end pre-loading state-->

<div class="container mt-4 col-12" [hidden]="isLoading">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col col-lg-10">
                    <div>
                        <h5> {{thesisProposal?.name}}
                        </h5>
                    </div>
                </div>
                <div class="col col-lg-2 mobile-hidden float-right">
                    <span class="text-secondary align-middle">

                        <div class="row">
                            <ng-container
                                *ngIf="(thesisProposal.STUDENT_INTERESTED === false && thesisProposal.INSTRUCTOR_ACCEPTED === false) && thesisProposal.INSTRUCTOR_REJECTED === false">
                                <button (click)="toggleForm()" class="btn btn-success btn-block"
                                    [ngClass]="expressInterest === true ? 'disabled': '' ">
                                    <span>{{ 'ThesisProposals.ExpressInterest' | translate }}</span>
                                </button>
                            </ng-container>

                            <!-- REQUEST POTENTIAL -->
                            <ng-container
                                *ngIf="thesisProposal.request && thesisProposal.request.actionStatus === 'PotentialActionStatus'">
                                <!-- proposal NOT assigned -->
                                <ng-container
                                    *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'potential'">
                                    <button
                                        *ngIf="thesisProposal.STUDENT_INTERESTED === true && thesisProposal.INSTRUCTOR_ACCEPTED === true"
                                        (click)="acceptThesisModal(templateThesisProposalAccept)"
                                        class="btn btn-success btn-block">
                                        <span>{{'ThesisProposals.StudentAccept' | translate}}</span>
                                    </button>
                                    <button
                                        *ngIf="thesisProposal.STUDENT_INTERESTED === true && thesisProposal.INSTRUCTOR_ACCEPTED === false"
                                        class="btn btn-success disabled btn-block">
                                        <span>{{'ThesisProposals.STUDENT_INTERESTED' | translate}}</span>
                                    </button>
                                </ng-container>

                                <!-- proposal assigned -->
                                <ng-container
                                    *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'completed'">
                                    <button class="btn btn-light btn-block disabled">
                                        {{ thesisProposal.INSTRUCTOR_REJECTED === true ?
                                        ('ThesisProposals.INSTRUCTOR_REJECTED' | translate) :
                                        thesisProposal.STUDENT_REJECTED === true ?
                                        ('ThesisProposals.STUDENT_REJECTED' | translate) :
                                        ('ThesisProposals.STUDENT_INTERESTED_THESIS_ASSIGNED_TO_OTHER' |
                                        translate) }}</button>
                                </ng-container>

                            </ng-container>

                            <!-- REQUEST ACTIVE -->
                            <ng-container
                                *ngIf="thesisProposal.request && thesisProposal.request.actionStatus === 'ActiveActionStatus'">

                                <!-- proposal NOT assigned -->
                                <ng-container
                                    *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'potential'">
                                    <button
                                        *ngIf="thesisProposal.STUDENT_INTERESTED === true && thesisProposal.INSTRUCTOR_ACCEPTED === true"
                                        class="btn btn-warning disabled btn-block">
                                        <span>{{'ThesisProposals.REQUEST_ACTIVE' | translate}}</span>
                                    </button>
                                </ng-container>

                                <!-- proposal assigned -->
                                <ng-container
                                    *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'completed'">
                                    <button class="btn btn-light btn-block"
                                        [ngClass]="thesisProposal.INSTRUCTOR_REJECTED === false && thesisProposal.STUDENT_REJECTED === false ? '': 'disabled' ">
                                        {{ thesisProposal.INSTRUCTOR_REJECTED === true ?
                                        ('ThesisProposals.INSTRUCTOR_REJECTED' | translate) :
                                        thesisProposal.STUDENT_REJECTED === true ?
                                        ('ThesisProposals.STUDENT_REJECTED' | translate) :
                                        ('ThesisProposals.STUDENT_INTERESTED_THESIS_ASSIGNED_TO_OTHER' |
                                        translate) }}</button>
                                </ng-container>

                            </ng-container>


                            <!-- REQUEST CANCELLED -->
                            <ng-container
                                *ngIf="thesisProposal.request && thesisProposal.request.actionStatus === 'CancelledActionStatus'">
                                <button class="btn btn-warning btn-block" disabled>
                                    <span>{{ thesisProposal.INSTRUCTOR_REJECTED === true ?
                                        ('ThesisProposals.INSTRUCTOR_REJECTED' | translate) :
                                        thesisProposal.STUDENT_REJECTED === true ?
                                        ('ThesisProposals.STUDENT_REJECTED' | translate) :
                                        ('ThesisProposals.ThesisProposals.REQUEST_REJECTED' | translate)
                                        }}</span>
                                </button>
                            </ng-container>
                        </div>
                        <!-- cancel request button -->
                        <ng-container *ngIf="thesisProposal.request && (thesisProposal.request.actionStatus !== 'CancelledActionStatus' && thesisProposal.request.actionStatus !== 'CompletedActionStatus')
                        && thesisProposal.STUDENT_INTERESTED === true">
                            <div class="row mt-2">
                                <button class="btn btn-danger btn-block"
                                    (click)="rejectThesisModal(templateThesisProposalReject)">
                                    <span>{{'ThesisProposals.StudentAction.CancelRequest' | translate}}</span>
                                </button>
                            </div>
                        </ng-container>
               
                    </span>
                </div>
            </div>

            <div class="mb-2 mt-2">
                <span title="{{ 'ThesisProposals.Instructor' | translate }}" class="text-secondary mr-3"><i
                        class="fa fa-user pr-1"></i>{{thesisProposal?.instructor | localize:['givenName']}}
                    {{thesisProposal?.instructor | localize:['familyName']}}</span>
                <span *ngIf="thesisProposal.dateCreated" title="{{ 'ThesisProposals.DateCreated' | translate }}"
                    class="text-secondary mr-3">
                    <i class="fa fa-calendar-plus pr-1"></i>{{ 'ThesisProposals.DateCreated' | translate }}
                    {{thesisProposal?.dateCreated | localizedDate: 'shortDate'}}
                </span>
                <span *ngIf="thesisProposal.dateModified"
                    title="{{ 'ThesisProposals.ModifiedDate' | translate }}" class="text-secondary mr-3">
                    <i class="fas fa-calendar pr-1"></i>{{ 'ThesisProposals.ModifiedDate' | translate }}
                    {{thesisProposal?.dateModified | localizedDate:
                    'shortDate'}}
                </span>
            </div>
            <div class="mb-2 mt-2">
                <span *ngIf="thesisProposal.totalStudents"
                    title="{{ 'ThesisProposals.TotalStudents' | translate }}:"
                    class="text-secondary mr-3 text-nowrap"><i class="fas fa-users pr-1"></i>{{
                    'ThesisProposals.TotalStudents' | translate }}: {{thesisProposal?.totalStudents}}</span>
            </div>
            <div class="mb-2" *ngIf="!thesisProposal.notes" class="text-secondary">{{
                'ThesisProposals.NotesEmpty' | translate }}
            </div>
            <div class="mb-2" *ngIf="thesisProposal.notes">
                <span class="text-secondary mr-3 cursor-pointer" type="button" (click)="toggleMore()">
                    <a><i class="fa fa-chevron-down pr-1"></i></a>{{'ThesisProposals.More' |
                    translate}}
                </span>
            </div>
            <div class="row mt-4 mb-4" *ngIf="thesisProposal.show === true">
                <div class="col-12">
                    <ul class="sis--list-group sis--list-group-body">
                        <li class="sis--list-group-item">
                            <div class="d-flex justify-content-center align-items-center list-color">
                                <div class="sis--list-group-item_lg_column">
                                    <span *ngIf="thesisProposal.notes" class="text-secondary"
                                        [innerHTML]="thesisProposal.notes">
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col d-lg-none mobile-show">
                    <span class="text-secondary align-middle mr-3 mt-2">
                        <ng-container
                            *ngIf="(thesisProposal.STUDENT_INTERESTED === false && thesisProposal.INSTRUCTOR_ACCEPTED === false) && thesisProposal.INSTRUCTOR_REJECTED === false">
                            <button (click)="toggleForm()" class="btn btn-success btn-block"
                                [ngClass]="expressInterest === true ? 'disabled': '' ">
                                <span>{{ 'ThesisProposals.ExpressInterest' | translate }}</span>
                            </button>
                        </ng-container>

                        <!-- REQUEST POTENTIAL -->
                        <ng-container
                            *ngIf="thesisProposal.request && thesisProposal.request.actionStatus === 'PotentialActionStatus'">
                            <!-- proposal NOT assigned -->
                            <ng-container
                                *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'potential'">
                                <button
                                    *ngIf="thesisProposal.STUDENT_INTERESTED === true && thesisProposal.INSTRUCTOR_ACCEPTED === true"
                                    (click)="acceptThesisModal(templateThesisProposalAccept)"
                                    class="btn btn-success btn-block">
                                    <span>{{'ThesisProposals.StudentAccept' | translate}}</span>
                                </button>
                                <button
                                    *ngIf="thesisProposal.STUDENT_INTERESTED === true && thesisProposal.INSTRUCTOR_ACCEPTED === false"
                                    class="btn btn-success disabled  btn-block">
                                    <span>{{'ThesisProposals.STUDENT_INTERESTED' | translate}}</span>
                                </button>

                            </ng-container>

                            <!-- proposal assigned -->
                            <ng-container
                                *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'completed'">
                                <button class="btn btn-light btn-block"
                                    [ngClass]="thesisProposal.INSTRUCTOR_REJECTED === false && thesisProposal.STUDENT_REJECTED === false ? 'btn-block': 'btn-block disabled' ">
                                    {{ thesisProposal.INSTRUCTOR_REJECTED === true ?
                                    ('ThesisProposals.INSTRUCTOR_REJECTED' | translate) :
                                    thesisProposal.STUDENT_REJECTED === true ?
                                    ('ThesisProposals.STUDENT_REJECTED2' | translate) :
                                    ('ThesisProposals.STUDENT_INTERESTED_THESIS_ASSIGNED_TO_OTHER' | translate)
                                    }}</button>
                            </ng-container>
                        </ng-container>

                        <!-- REQUEST ACTIVE -->
                        <ng-container
                            *ngIf="thesisProposal.request && thesisProposal.request.actionStatus === 'ActiveActionStatus'">

                            <!-- proposal NOT assigned -->
                            <ng-container
                                *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'potential'">
                                <button
                                    *ngIf="thesisProposal.STUDENT_INTERESTED === true && thesisProposal.INSTRUCTOR_ACCEPTED === true"
                                    class="btn btn-warning disabled btn-block">
                                    <span>{{'ThesisProposals.REQUEST_ACTIVE' | translate}}</span>
                                </button>
                            </ng-container>

                            <!-- proposal assigned -->
                            <ng-container
                                *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'completed'">
                                <button class="btn btn-light btn-block mt-2"
                                    [ngClass]="thesisProposal.INSTRUCTOR_REJECTED === false && thesisProposal.STUDENT_REJECTED === false ? '': 'disabled' ">
                                    {{ thesisProposal.INSTRUCTOR_REJECTED === true ?
                                    ('ThesisProposals.INSTRUCTOR_REJECTED1' | translate) :
                                    thesisProposal.STUDENT_REJECTED === true ?
                                    ('ThesisProposals.STUDENT_REJECTED' | translate) :
                                    ('ThesisProposals.STUDENT_INTERESTED_THESIS_ASSIGNED_TO_OTHER' | translate)
                                    }}</button>
                            </ng-container>
                        </ng-container>


                        <!-- REQUEST CANCELLED -->
                        <ng-container
                            *ngIf="thesisProposal.request && thesisProposal.request.actionStatus === 'CancelledActionStatus'">
                            <button class="btn btn-warning btn-block" disabled>
                                <span>{{ thesisProposal.INSTRUCTOR_REJECTED === true ?
                                    ('ThesisProposals.INSTRUCTOR_REJECTED' | translate) :
                                    thesisProposal.STUDENT_REJECTED === true ?
                                    ('ThesisProposals.STUDENT_REJECTED' | translate) :
                                    ('ThesisProposals.REQUEST_REJECTED' | translate)
                                    }}</span>
                            </button>
                            <ng-container
                                *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'potential'"></ng-container>
                            <ng-container
                                *ngIf="thesisProposal.status && thesisProposal.status.alternateName === 'completed'"></ng-container>
                        </ng-container>
                        
                        <!-- cancel request button -->
                        <ng-container *ngIf="thesisProposal.request && (thesisProposal.request.actionStatus !== 'CancelledActionStatus' && thesisProposal.request.actionStatus !== 'CompletedActionStatus')
                        && thesisProposal.STUDENT_INTERESTED === true">
                                <button class="btn btn-danger btn-block"
                                    (click)="rejectThesisModal(templateThesisProposalReject)">
                                    <span>{{'ThesisProposals.StudentAction.CancelRequest' | translate}}</span>
                                </button>
                        </ng-container>

                    </span>
                </div>
            </div>
        </div>
    </div>
    <ng-container>
        <div [hidden]="thesisProposal.STUDENT_INTERESTED === true">
            <div class="card" id="student-form" [hidden]="(!(expressInterest && expressInterest === true))">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>{{ 'ThesisProposals.ExpressInterestAction' | translate }}</h5>
                        </div>
                        <div class="col-lg-12 mt-2">
                            <p>{{ 'ThesisProposals.WhyMe' | translate }}</p>
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="thesisProposal.STUDENT_INTERESTED === true">
                        <p [innerHTML]="thesisProposal?.interestNotes"></p>
                    </div>

                    <div [hidden]="thesisProposal?.interestNotes">
                        <form #form="ngForm" novalidate class="formio-form">
                            <div class="form-group has-feedback formio-component formio-component-textarea">
                                <div>
                                    <div #reason>
                                        <input type="text" class="d-none" [(ngModel)]="notes" id="notes"
                                            name="notes-text">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- future feature file upload-->
                        <!-- <div class="mb-4">
                    <ngx-dropzone class="mt-2" [multiple]="false" [accept]="'application/pdf'"
                        (change)="onFileSelect($event)">
                        <ngx-dropzone-label style="z-index: 0" class="p-2">
                            <div>{{'UniversisDiningModule.DocumentsSubmission.UploadDocument' | translate}} (*.pdf)
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-preview [removable]="false" (removed)="onFileRemove(false)">
                        </ngx-dropzone-preview>
                        <ngx-dropzone-preview (removed)="onFileRemove(false)">
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                </div> -->
                        <input type="submit" class="btn btn-primary" value="Υποβολή" (click)="submit()">
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container>
        <div *ngIf="(thesisProposal.interestNotes) || thesisProposal.INSTRUCTOR_ACCEPTED === true">
            <div class="card" id="student-form">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>{{ 'ThesisProposals.ExpressInterestAction' | translate }}</h5>
                        </div>
                        <div class="col-lg-12 mt-2">
                            <p>{{ 'ThesisProposals.WhyMe' | translate }}</p>
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="thesisProposal.interestNotes">
                        <p [innerHTML]="thesisProposal?.interestNotes"></p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>


</div>

<ng-template #templateThesisProposalAccept>
    <div class="modal-header">
        <h4 class="modal-title pull-left" [translate]="'ThesisProposals.StudentAction.Accept.ModalTitle'"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mt-0 mb-0 text-center">
        <div>
            <p class="text-secondary text-left">{{thesisProposal.name}}</p>
        </div>
        <div>
            <p class="text-secondary text-left">{{'ThesisProposals.StudentAction.Accept.Help' | translate}}</p>
        </div>
        <div>
            <p class="text-secondary text-left">{{'ThesisProposals.StudentAction.Sure' | translate}}</p>
        </div>
        <form class="text-center">
            <div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="acceptThesis()"
                        [translate]="'ThesisProposals.StudentAction.Yes'"></button>
                    <button type="button" class="btn btn-gray-300 text-white" (click)="modalRef.hide()"
                        [translate]="'ThesisProposals.StudentAction.Cancel'"></button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #templateThesisProposalReject>
    <div class="modal-header">
        <h4 class="modal-title pull-left" [translate]="'ThesisProposals.StudentAction.Reject.ModalTitle'"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body mt-0 mb-0 text-center">
        <div>
            <p class="text-secondary text-left">{{thesisProposal.name}}</p>
        </div>
        <div>
            <p class="text-secondary text-left">{{'ThesisProposals.StudentAction.Reject.Help' | translate}}</p>
        </div>
        <div>
            <p class="text-secondary text-left">{{'ThesisProposals.StudentAction.Sure' | translate}}</p>
        </div>
        <form class="text-center">
            <div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="rejectThesis()"
                        [translate]="'ThesisProposals.StudentAction.Reject.Reject'"></button>
                    <button type="button" class="btn btn-gray-300 text-white" (click)="modalRef.hide()"
                        [translate]="'ThesisProposals.StudentAction.Cancel'"></button>
                </div>
            </div>
        </form>
    </div>
</ng-template>