<div class="row" *ngIf="!isLoading">
  <div class="col">
    <div>
      <h2 class="py-4" [translate]="'Grades.Internship.Internship'"></h2>
    </div>

    <div *ngFor="let internship of internshipInfo">
      <div class='card d-none d-md-block'>
        <div class='card-body'>
          <div class='row'>
            <div class="col-12">
              <div class='d-flex'>
                <div class='p-2 w-100 text-dark'>
                  <div class='font-xl mb-2'>
                    <span>{{internship | localize:['name']}}</span>
                    <span>&nbsp;- </span>
                    <span>({{'Grades.Internship.Status.' + (internship.status.alternateName) | translate }})</span> 
                  </div>
                  <div class='card-body-title p-2'>
                    <span class='mr-4'>
                      <i class="fa fa-building text-details mr-2"></i><span class="text-details"[translate]="'Grades.Internship.Company.Company'"></span>:
                      {{ internship.company | localize:['name'] || '-'}}
                    </span>
                    <span class='mr-4'>
                      <i class="fa fa-user text-details mr-2"></i><span class="text-details" [translate]="'Grades.Internship.Company.Contact'"></span>:
                      {{ internship | localize:['companyContact'] || '-'}}
                    </span>
                    <span class='mr-4'>
                      <span class="fa fa-phone text-details mr-2"></span><span class="text-details" [translate]="'Grades.Internship.Company.Phone'"></span>:
                      {{ internship.companyContactPhone || '-'}}
                    </span></div>
                    <div class='card-body-title p-2'>
                    <span class='mr-4'>
                      <span class="fa fa-calendar text-details mr-2"></span><span class="text-details" [translate]="'Grades.Internship.StartDate'"></span>:
                      {{ internship.startDate | date:'longDate' || '-'}}
                    </span>
                    <span class='mr-4' *ngIf="internship.endDate">
                      <span class="fa fa-calendar text-details mr-2"></span><span class="text-details" [translate]="'Grades.Internship.EndDate'"></span>:
                      {{ internship.endDate | date:'longDate'}}
                    </span>
                  </div>
                </div> <!-- row -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-sm-block d-md-none">
        <div class="mb-3">
          <card-collapsible>
            <card-header>
              <div class="row">
                <h5 class="col-9 font-lg font-weight-normal"> <span>{{internship | localize:['name']}}</span>
                  <span>&nbsp;- </span>
                  <span>({{'Grades.Internship.Status.' + (internship.status.alternateName) | translate }})</span> 
                </h5>
              </div>
            </card-header>
            <card-body>
              <div class="row">
                <div class="container-fluid p-2">
                  <span class='mr-5'>
                    <i class="fa fa-building text-details mr-2"></i><span class="text-details" [translate]="'Grades.Internship.Company.Company'"></span>:
                    {{ internship.company | localize:['name'] || '-'}}
                  </span></div>
                  <div class="container-fluid p-2">
                  <span class='mr-5'>
                    <i class="fa fa-user text-details mr-2"></i><span class="text-details" [translate]="'Grades.Internship.Company.Contact'"></span>:
                    {{ internship | localize:['companyContact'] || '-'}}
                  </span></div>
                  <div class="container-fluid p-2"><span class='mr-5'>
                    <span class="fa fa-phone text-details mr-2"></span><span class="text-details" [translate]="'Grades.Internship.Company.Phone'"></span>:
                    {{ internship.companyContactPhone || '-'}}
                  </span></div>
                  <div class="container-fluid p-2">
                  <span class='mr-5'>
                    <span class="fa fa-calendar text-details mr-2"></span><span class="text-details" [translate]="'Grades.Internship.StartDate'"></span>:
                    {{ internship.startDate | date:'longDate' || '-'}}
                  </span></div>
                  <div class="container-fluid p-2"><span class='mr-5' *ngIf="internship.endDate">
                    <span class="fa fa-calendar text-details mr-2"></span><span class="text-details" [translate]="'Grades.Internship.EndDate'"></span>:
                    {{ internship.endDate | date:'longDate'}}
                  </span>
                </div>
              </div>
            </card-body>
          </card-collapsible>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoading && internshipInfo && internshipInfo.length === 0">
      <div class='card'>
        <div class='card-body'>
          <div class='row'>
            <div class="col-12">
              <span class="text-gray-600" [translate]="'Grades.Internship.NotFound'"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>