<div [@showList]="showList === true ? 'show' : 'hide'">
    <!-- Title -->
    <div class="col-lg-12">
        <div class="py-4">
            <h2 class="d-inline" [translate]="'ThesisProposals.Title'"></h2>
        </div>
    </div>
    <!-- Search -->
    <div class="m-lg-3">
        <div class="theses_search_filters">
            <form class="form-inline p-2 col">
                <div class="form-group col-12 col-md-6 col-lg-auto py-1">
                    <label class="pr-2" for="searchText" [translate]="'ThesisProposals.ThesisType'"></label>
                    <select class="form-control" id="selectedThesisType" name="selectedProposalType"
                        [(ngModel)]="selectedThesisType" (ngModelChange)="search()">
                        <option [ngValue]="null"><span [translate]="'ThesisProposals.AllTypes'"></span></option>
                        <option *ngFor="let thesisTypes of thesisProposals | groupBy: [ 'type.alternateName'] | values"
                            [ngValue]="thesisTypes[0].type.alternateName"> {{ thesisTypes[0].type | localize:['name']}}</option>
                    </select>
                </div>

                <div class="form-group col-12 col-md-6 py-1">
                    <label class="pr-2" [translate]="'ThesisProposals.Search'"></label>
                    <input spellcheck="false" (keyup.enter)="search()" type="text" id="searchText"
                        [(ngModel)]="searchText" name="searchText" class="form-control col text-left"
                        [placeholder]="'ThesisProposals.SearchPlaceHolder' | translate">
                </div>
            </form>
        </div>
        <div class="mt-2">
            <div class="mt-1 text-right text-color-theme font-xl sis-brand-bold">
                <div *ngIf="this.thesisProposals.length > 1 || this.count == 0">
                    {{this.thesisProposals.length}} {{'ThesisProposals.Results' | translate}}</div>
                <div *ngIf="this.thesisProposals.length === 1">
                    {{this.thesisProposals.length}}
                    {{'ThesisProposals.Result' | translate}}</div>
            </div>
        </div>
    </div>


    <!--pre-loading state-->
    <div class="card mb-3 m-lg-3" *ngIf="isLoading">
        <div class="card-body">
            <div class="ph-col-12">
                <div class="ph-row">
                    <div class="ph-col-8 big"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-8 big"></div>
                </div>
                <div class="ph-row">
                    <div class="ph-col-2 big"></div>
                    <div class="ml-4 ph-col-4 big"></div>
                </div>
            </div>
        </div>
    </div>
    <!--end pre-loading state-->
    <div *ngIf="!isLoading && studentState" class="m-lg-3">
        <div *ngIf="studentState && studentState?.valid === true && studentState.maximumAllowedThesis != null">
            <div *ngIf="thesisProposals.length > 0">
                <div class="card mt-3" *ngFor="let thP of thesisProposals; let i = index">
                    <div class="card-body">
                        <div class="mobile-show">
                            <ng-container *ngTemplateOutlet="!disableButtons ? clickableDiv : simpleDiv"></ng-container>
                            <ng-template #clickableDiv>
                                <div class="col col-auto row cursor-pointer" type="button"
                                    (click)="showSingleThesisProposal(thP)">
                                    <div>
                                        <!-- <h6>{{thP.id}}</h6> -->
                                        <h5>{{ thP?.name }}</h5>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #simpleDiv>
                                <div>
                                    <!-- <h6>{{thP.id}}</h6> -->
                                    <h5>{{ thP?.name }}</h5>
                                </div>
                            </ng-template>

                            <div>
                                <span title="{{ 'ThesisProposals.ThesisType.type' | translate }}" class="text-secondary mr-3 "><i
                                        class="fa fa-flag pr-1"></i>{{
                                    thP?.type | localize:['name'] }}</span>
                                <span *ngIf="thP.dateCreated" class="text-secondary mr-3 text-nowrap"><i
                                        class="fa fa-calendar-plus pr-1"></i>{{ 'ThesisProposals.DateCreated' |
                                    translate}} {{thP.dateCreated | date:
                                    'dd-MM-yyyy'}}</span>
                                <span *ngIf="thP.dateModified" class="text-secondary mr-3 text-nowrap"><i
                                        class="fas fa-calendar pr-1"></i>{{ 'ThesisProposals.ModifiedDate' |
                                    translate }} {{thP.dateModified | date:
                                    'dd-MM-yyyy'}}</span>
                            </div>
                            <div class="mb-2 ">
                                <span *ngIf="thP.instructor"
                                    title="{{ 'ThesisProposals.Instructor' | translate }}"
                                    class="text-secondary mr-3"><i class="fas fa-user pr-1"></i>{{thP?.instructor |
                                    localize:['givenName']}} {{thP?.instructor | localize:['familyName']}}</span>
                                <span *ngIf="thP.totalStudents"
                                    title="{{ 'ThesisProposals.TotalStudents' | translate }}:"
                                    class="text-secondary mr-3 text-nowrap"><i class="fas fa-users pr-1"></i>{{
                                    'ThesisProposals.TotalStudents' | translate }}: {{thP?.totalStudents}}</span>
                            </div>

                            <div class="mobile-hidden">
                                <div class="mb-2">
                                    <span class="text-secondary mr-3 cursor-pointer" type="button"
                                        (click)="toggleMore(i, thP.id)">
                                        <a *ngIf="!thP.show"><i class="fa fa-chevron-down pr-1"></i></a>
                                        <a *ngIf="thP.show"><i
                                                class="fa fa-chevron-left pr-1"></i></a>{{'ThesisProposals.More'
                                        | translate}}
                                    </span>
                                </div>
                                <div class="row mt-4 mb-4" *ngIf="thP.show && thP.show === true">
                                    <div class="col-12">
                                        <ul class="sis--list-group sis--list-group-body">
                                            <li class="sis--list-group-item">
                                                <div
                                                    class="d-flex justify-content-center align-items-center list-color">
                                                    <div class="sis--list-group-item_lg_column">
                                                        <span *ngIf="thP.notes" class="text-secondary"
                                                            [innerHTML]="thP.notes">
                                                        </span>
                                                        <span *ngIf="!thP.notes" class="text-secondary">
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-hidden">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-10">
                                        <ng-container
                                            *ngTemplateOutlet="!(thP && thP?.thesis) ? clickableDiv : simpleDiv"></ng-container>

                                        <ng-template #clickableDiv>
                                            <div class="cursor-pointer" type="button"
                                                (click)="showSingleThesisProposal(thP)">
                                                <div>
                                                    <h5>{{thP.id}}{{ thP?.name }}</h5>
                                                </div>
                                            </div>

                                        </ng-template>
                                        <ng-template #simpleDiv>
                                            <div>
                                                <h5>{{thP.id}}{{ thP?.name }}</h5>
                                            </div>
                                        </ng-template>

                                        <div class="mb-2">
                                            <span title="{{ 'ThesisProposals.ThesisType.type' | translate }}"
                                                class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{
                                                thP?.type | localize:['name'] }}</span>
                                            <span *ngIf="thP.dateCreated"
                                                title="{{ 'ThesisProposals.DateCreated' | translate }}"
                                                class="text-secondary mr-3"><i class="fa fa-calendar-plus pr-1"></i>{{
                                                'ThesisProposals.DateCreated' | translate}} {{thP.dateCreated |
                                                date:
                                                'dd-MM-yyyy'}}</span>
                                            <span *ngIf="thP.dateModified"
                                                title="{{ 'ThesisProposals.ModifiedDate' | translate }}"
                                                class="text-secondary mr-3"><i class="fas fa-calendar pr-1"></i>{{
                                                'ThesisProposals.ModifiedDate' | translate }} {{thP.dateModified
                                                |
                                                date:
                                                'dd-MM-yyyy'}}</span>
                                        </div>
                                        <div class="mb-2">
                                            <span *ngIf="thP.instructor"
                                                title="{{ 'ThesisProposals.Instructor' | translate }}"
                                                class="text-secondary mr-3"><i
                                                    class="fas fa-user pr-1"></i>{{thP?.instructor |
                                                localize:['givenName']}} {{thP?.instructor |
                                                localize:['familyName']}}</span>
                                            <span *ngIf="thP.totalStudents"
                                                title="{{ 'ThesisProposals.TotalStudents' | translate }}"
                                                class="text-secondary mr-3 text-nowrap"><i
                                                    class="fas fa-users pr-1"></i>{{
                                                'ThesisProposals.TotalStudents' | translate }}: {{
                                                thP?.totalStudents
                                                }}</span>
                                        </div>
                                        <div class="mb-2" *ngIf="thP && thP.notes; else noNotes">
                                            <span class="text-secondary mr-3 cursor-pointer" type="button"
                                                (click)="toggleMore(i, thP.id)">
                                                <a *ngIf="!thP.show"><i class="fa fa-chevron-down pr-1"></i></a>
                                                <a *ngIf="thP.show"><i
                                                        class="fa fa-chevron-left pr-1"></i></a>{{'ThesisProposals.More'
                                                | translate}}
                                            </span>
                                        </div>
                                        <ng-template #noNotes>
                                            <span class="text-secondary">{{'ThesisProposals.NotesEmpty' |
                                                translate}}
                                            </span>
                                        </ng-template>

                                        <div class="row mt-4 mb-4" *ngIf="thP.show && thP.show === true">
                                            <div class="col-12">
                                                <ul class="sis--list-group sis--list-group-body">
                                                    <li class="sis--list-group-item">
                                                        <div
                                                            class="d-flex justify-content-center align-items-center list-color">
                                                            <div class="sis--list-group-item_lg_column">
                                                                <span class="text-secondary" [innerHTML]="thP.notes">
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="mr-2 text-secondary">
                                            <ng-container
                                                *ngIf="thP.status && thP.status.alternateName === 'potential'">
                                                <ng-container *ngIf="!thP.request.actionStatus">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button type="button" class="btn btn-light btn-block"
                                                                (click)="showSingleThesisProposal(thP)">
                                                                <div class="row text-secondary">
                                                                    <div class="text-left col-10">
                                                                        {{'ThesisProposals.ExpressInterest' |
                                                                        translate}}
                                                                    </div>
                                                                    <div class="col-2 align-self-center ">
                                                                        <i
                                                                            class="fas fa-arrow-circle-right fa-sm text-secondary"></i>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'PotentialActionStatus'">
                                                    <ng-container *ngIf="thP.STUDENT_INTERESTED === true">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <button type="button" class="btn btn-light btn-block"
                                                                    style="width: 100%"
                                                                    (click)="showSingleThesisProposal(thP)">
                                                                    <div class="row text-left">
                                                                        <div
                                                                            class="col-10 align-self-center text-secondary">
                                                                            <span
                                                                                *ngIf="thP.INSTRUCTOR_ACCEPTED === false">
                                                                                {{'ThesisProposals.STUDENT_INTERESTED'
                                                                                |
                                                                                translate}}
                                                                            </span>
                                                                            <span
                                                                                *ngIf="thP.INSTRUCTOR_ACCEPTED === true">
                                                                                {{'ThesisProposals.INSTRUCTOR_ACCEPTED'
                                                                                | translate}}<br>
                                                                                {{'ThesisProposals.ActionNeeded'
                                                                                |
                                                                                translate}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-2 align-self-center">
                                                                            <i
                                                                                [ngClass]="thP.INSTRUCTOR_ACCEPTED === true ? 'fas fa-bell fa-sm text-warning' : 'fas fa-arrow-circle-right fa-sm text-primary'"></i>
                                                                        </div>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'ActiveActionStatus'">
                                                    <ng-container>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <button type="button" class="btn btn-light btn-block"
                                                                    style="width: 100%"
                                                                    (click)="showSingleThesisProposal(thP)">
                                                                    <div class="row text-left">
                                                                        <div
                                                                            class="col-10 align-self-center text-secondary">
                                                                            <span>
                                                                                {{'ThesisProposals.REQUEST_ACTIVE'
                                                                                | translate}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-2 align-self-center">
                                                                            <i
                                                                                class="fas fa-hourglass-half pr-1 text-info"></i>
                                                                        </div>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>

                                                <ng-container
                                                    *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'CancelledActionStatus'">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button type="button" class="btn btn-light btn-block"
                                                                style="width: 100%"
                                                                (click)="showSingleThesisProposal(thP)">
                                                                <div class="row text-secondary text-left">
                                                                    <div class="col-10 align-self-center">
                                                                        <span *ngIf="thP.INSTRUCTOR_REJECTED === true">
                                                                            {{ 'ThesisProposals.INSTRUCTOR_REJECTED'
                                                                            | translate }}
                                                                        </span>
                                                                        <span *ngIf="thP.STUDENT_REJECTED === true">
                                                                            {{ 'ThesisProposals.STUDENT_REJECTED'
                                                                            | translate }}
                                                                        </span>
                                                                        <span *ngIf="!(thP.STUDENT_REJECTED === true || thP.INSTRUCTOR_REJECTED === true)">
                                                                            {{ 'ThesisProposals.REQUEST_REJECTED'
                                                                            | translate }}
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-2 align-self-center">
                                                                        <i
                                                                            class="fas fa-arrow-circle-right fa-sm text-danger"></i>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </ng-container>

                                            <ng-container
                                                *ngIf="thP.status && (thP.status.alternateName === 'completed' || thP.status.alternateName === 'cancelled')">
                                                <ng-container
                                                    *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'CancelledActionStatus'">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <button type="button" class="btn btn-light btn-block"
                                                                style="width: 100%"
                                                                (click)="showSingleThesisProposal(thP)">
                                                                <div class="row text-secondary text-left">
                                                                    <div class="col-10 align-self-center">
                                                                            <span *ngIf="thP.INSTRUCTOR_REJECTED === true">
                                                                                {{ 'ThesisProposals.INSTRUCTOR_REJECTED'
                                                                                | translate }}
                                                                            </span>
                                                                            <span *ngIf="thP.STUDENT_REJECTED === true">
                                                                                {{ 'ThesisProposals.STUDENT_REJECTED'
                                                                                | translate }}
                                                                            </span>
                                                                    </div>
                                                                    <div class="col-2 align-self-center">
                                                                        <i
                                                                            class="fas fa-arrow-circle-right fa-sm text-danger"></i>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'PotentialActionStatus'">
                                                    <ng-container >
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <button type="button" class="btn btn-light btn-block"
                                                                    style="width: 100%"
                                                                    (click)="showSingleThesisProposal(thP)">
                                                                    <div class="row text-left">
                                                                        <div
                                                                            class="col-10 align-self-center text-secondary">
                                                                            <span>
                                                                                {{'ThesisProposals.STUDENT_INTERESTED_THESIS_ASSIGNED_TO_OTHER' | translate}}
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-2 align-self-center">
                                                                            <i
                                                                                [ngClass]="thP.INSTRUCTOR_ACCEPTED === true ? 'fas fa-bell fa-sm text-danger' : 'fas fa-arrow-circle-right fa-sm text-danger'"></i>
                                                                        </div>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="thP.THESIS_ASSIGNED_TO_STUDENT === true">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <button type="button" style="width: 100%"
                                                            class="btn btn-light btn-block"
                                                            [routerLink]="['/grades/theses']">
                                                            <div class="row text-secondary text-left">
                                                                <div class="col-10 align-self-center">
                                                                    {{'ThesisProposals.THESIS_ASSIGNED_TO_STUDENT'
                                                                    | translate}}&nbsp;</div>
                                                                <div class="col-2 align-self-center"><i
                                                                        class="fas fa-arrow-circle-right fa-sm text-success"></i>
                                                                </div>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </ng-container>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="mr-2 text-secondary mobile-show">
                            <ng-container *ngIf="thP.status && thP.status.alternateName === 'potential'">
                                <ng-container *ngIf="!thP.request.actionStatus">
                                    <div class="row">
                                        <button type="button" class="btn btn-light btn-block text-center text-secondary"
                                            (click)="showSingleThesisProposal(thP)"><span>
                                                {{'ThesisProposals.ExpressInterest' | translate}}&nbsp;</span><i
                                                class="fas fa-arrow-circle-right fa-sm"></i>
                                        </button>
                                    </div>
                                </ng-container>
                                
                                <ng-container
                                    *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'PotentialActionStatus'">
                                    <ng-container *ngIf="thP.STUDENT_INTERESTED === true">
                                        <div class="row">
                                            <button type="button"
                                                class="btn btn-light btn-block text-center text-secondary"
                                                (click)="showSingleThesisProposal(thP)">
                                                <span *ngIf="thP.INSTRUCTOR_ACCEPTED === false">
                                                    {{'ThesisProposals.STUDENT_INTERESTED'
                                                    |
                                                    translate}}&nbsp;
                                                </span>
                                                <span *ngIf="thP.INSTRUCTOR_ACCEPTED === true">
                                                    {{'ThesisProposals.INSTRUCTOR_ACCEPTED'
                                                    | translate}}<br>
                                                    {{'ThesisProposals.ActionNeeded'
                                                    |
                                                    translate}}&nbsp;
                                                </span>
                                                <i
                                                    [ngClass]="thP.INSTRUCTOR_ACCEPTED === true ? 'fas fa-bell fa-sm text-warning' : 'fas fa-arrow-circle-right fa-sm text-primary'"></i>
                                            </button>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="thP.THESIS_ASSIGNED_TO_STUDENT === true">
                                        <button type="button" class="btn btn-light btn-block text-center text-secondary"
                                            [routerLink]="['/grades/theses']">
                                            <span>{{'ThesisProposals.THESIS_ASSIGNED_TO_STUDENT'
                                                | translate}}&nbsp;
                                            </span>

                                            <i class="fas fa-arrow-circle-right fa-sm text-success"></i>
                                        </button>
                                    </ng-container>
                                </ng-container>
                                <ng-container
                                    *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'CancelledActionStatus'">
                                    <div class="row">
                                        <button type="button" class="btn btn-light btn-block text-center text-secondary"
                                            (click)="showSingleThesisProposal(thP)">
                                            <span> {{ 'ThesisProposals.REQUEST_REJECTED'
                                                | translate }}&nbsp;
                                            </span>
                                            <i class="fas fa-arrow-circle-right fa-sm text-danger"></i>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container
                                    *ngIf="thP.STUDENT_ACCEPTED === true && thP.THESIS_ASSIGNED_TO_STUDENT === false">
                                    <div class="row">
                                        <button type="button" class="btn btn-light btn-block text-center text-secondary"
                                            (click)="showSingleThesisProposal(thP)">
                                            <span>{{'ThesisProposals.REQUEST_ACTIVE'
                                                | translate}}&nbsp;
                                            </span>

                                            <i class="fas fa-arrow-circle-right fa-sm text-info"></i>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="thP.THESIS_ASSIGNED_TO_STUDENT === true">
                                    <button type="button" class="btn btn-light btn-block text-center text-secondary"
                                        [routerLink]="['/grades/theses']">
                                        <span>{{'ThesisProposals.THESIS_ASSIGNED_TO_STUDENT'
                                            | translate}}&nbsp;
                                        </span>

                                        <i class="fas fa-arrow-circle-right fa-sm text-success"></i>
                                    </button>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="thP.status && (thP.status.alternateName === 'completed' || thP.status.alternateName === 'cancelled') ">
                                <ng-container
                                    *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'CancelledActionStatus' && thP.THESIS_ASSIGNED_TO_STUDENT === false">
                                    <div class="row">
                                        <button type="button" class="btn btn-light btn-block text-center text-secondary"
                                            (click)="showSingleThesisProposal(thP)">
                                            <span> {{ 'ThesisProposals.REQUEST_REJECTED'
                                                | translate }}&nbsp;
                                            </span>

                                            <i class="fas fa-arrow-circle-right fa-sm text-danger"></i>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container
                                *ngIf="thP.request && thP.request.actionStatus && thP.request.actionStatus === 'PotentialActionStatus'">
                                <ng-container >
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-light btn-block"
                                                style="width: 100%"
                                                (click)="showSingleThesisProposal(thP)">
                                                <div class="row text-left">
                                                    <div
                                                        class="col-10 align-self-center text-secondary">
                                                        <span>
                                                            {{'ThesisProposals.STUDENT_INTERESTED_THESIS_ASSIGNED_TO_OTHER' | translate}}
                                                        </span>
                                                    </div>
                                                    <div class="col-2 align-self-center">
                                                        <i
                                                            [ngClass]="thP.INSTRUCTOR_ACCEPTED === true ? 'fas fa-bell fa-sm text-danger' : 'fas fa-arrow-circle-right fa-sm text-danger'"></i>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                                <ng-container *ngIf="thP.THESIS_ASSIGNED_TO_STUDENT === true">
                                    <button type="button" class="btn btn-light btn-block text-center text-secondary"
                                        [routerLink]="['/grades/theses']">
                                        <span>{{'ThesisProposals.THESIS_ASSIGNED_TO_STUDENT'
                                            | translate}}&nbsp;
                                        </span>

                                        <i class="fas fa-arrow-circle-right fa-sm text-success"></i>
                                    </button>
                                </ng-container>
                            </ng-container>

                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="studentState && thesisProposals && thesisProposals.length === 0" class="row mt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p *ngIf="studentState.valid === false" class="card-text"
                            [translate]="'ThesisProposals.NotValidStudent'"></p>
                        <p *ngIf="studentState.valid === true && studentState.maximumAllowedThesis == null"
                            class="card-text" [translate]="'ThesisProposals.ZeroMaximumAllowedThesis'"></p>
                        <p *ngIf="studentState.valid === true && thesisProposals.length === 0 && studentState.maximumAllowedThesis != null" class="card-text" [translate]="'ThesisProposals.ThesisProposalsEmpty'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showList === false">
    <app-thesis-proposal [thesisProposal]="singleThesis"
        (updatedItem)="updateThesisProposalList($event)"></app-thesis-proposal>
</div>